*{
    font-family: monospace;
}
.options{
    text-align: center;
    font-size: large;
}
.options .stdButton{
    width: 60px;
    height: 20px;
}
.selectorForm{
    text-align: center;
    margin: 5px;
}
.searchForm{
    text-align: center;
    top:46%;
    height: 100%;
}
.dashTitle{
    text-align: center;
    font-style: monospace;
}
.selectorForm .stdLabel{
    margin: 5px;
}
.departureInput{
    padding: 5px;
    fill: grey;
    margin: 20px;
}
.stdLabel{
    font-size: large;
}
.error{
    border-color: red;
    box-sizing: border-box;
    text-align: center;
}
.baseBoard{
    display: flex;
    position:relative;
    top: 40px;
    font-size:larger;
    margin: 10px;
    width: 66%;
    background-color: black;
    height: 52px;
    left: 17%;
    max-width: 1050px;
}
.leftThird{
    width: 100%;
    flex:20;
    height: 100%;
    background-color: black;
    min-width: 105px;
    max-width: 210px;
}
.middle{
    width: 100%;
    flex:60;
    height: 100%;
    background-color: black;
    min-width: 315px;
    max-width: 630px;
}
.rightThird{
    width:100%;
    flex:20;
    height: 100%;
    background-color: black;
    min-width: 105px;
    max-width: 210px;
    text-align: center;
}
.leftThird .leftThirdSplit{
    display: flex;
    top: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
.leftThirdSplit .order{
    top: 5px;
    width: 100%;
    background-color: grey;
    z-index: 100;
    color:rgb(247, 167, 18);
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.leftThirdSplit .scheduledArrival{
    border-top: 5px;
    width: 100%;
    background-color: grey;
    z-index: 100;
    color:rgb(247, 167, 18);
    margin-bottom: 5px;
    text-align: center;

}
.leftThird .callingAt{
    bottom: 5px;
    left: 5px;
    width : 100%;
    background-color: grey;
    z-index: 100;
    text-align: right;
    color:rgb(247, 167, 18);
    overflow: hidden;
    margin-left: 5px;
    min-width: 95px;
}
.middle .destination{
    top: 5px;
    width: 100%;
    background-color: grey;
    z-index: 100;
    text-align: left;
    color:rgb(247, 167, 18);
    margin-top: 5px;
    margin-bottom: 5px;
}
.rightThird .platform{
    margin-right: 5px;
    background-color: grey;
    z-index: 100;
    color:rgb(247, 167, 18);
    bottom:5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.rightThird .expected{
    margin-top: 5px;
    margin-right: 5px;
    height: 18.67px;
    background-color: grey;
    z-index: 100;
    color:rgb(247, 167, 18);
}

.middle .textContainer{
    height: 18.67px;
    bottom: 5px;
    width : 100%;
    z-index: 100;
    text-align: left;
    color:rgb(247, 167, 18);
    overflow: hidden;
    background-color: grey;
    margin-bottom: 10px;
}
.scrollingText {
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 12s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
.logoImage{
    text-align: center;
    padding: 50px;
}
.stationTitle{
    display: inline-block;
}
.brLogo{
    display: inline-block;
    left: 20%;
    top:60%;
}
.stationName{
    text-align: center;
    top: 5%;
    height: 20%;
}
.test{
    width:8px;
    height: auto;
}