*{
    font-family: monospace;
}
.options{
    text-align: center;
    font-size: large;
}
.options .stdButton{
    width: 60px;
    height: 20px;
}
.selectorForm{
    text-align: center;
    margin: 5px;
}
.selectorForm .stdLabel{
    padding: 20px;
}
.error{
    border-color: red;
    box-sizing: border-box;
    text-align: center;
}
.baseBoard{
    position:relative;
    top: 40px;
    font-size: x-large;
    padding: 20px;
    margin: 10px;
    width: 40%;
    background-color: black;
    height: 30px;
    left: 30%;
}
.baseBoard .scheduledArrival{
    position: absolute;
    top: 25px;
    height: 20px;
    left: 1%;
    background-color: grey;
    z-index: 100;
    color:rgb(247, 167, 18)

}
.baseBoard .destination{
    position: absolute;
    top: 5px;
    height: 25px;
    left: 75px;
    width: 510px;
    background-color: grey;
    z-index: 100;
    text-align: left;
    color:rgb(247, 167, 18)
}
.baseBoard .platform{
    position:absolute;
    top: 10px;
    height: 20px;
    right: 10%;
    background-color: grey;
    z-index: 100;
    color:rgb(247, 167, 18)
}
.baseBoard .expected{
    position: absolute;
    top: 40px;
    height: 20px;
    right: 1%;
    width: 109px;
    background-color: grey;
    z-index: 100;
    color:rgb(247, 167, 18);
    bottom: 10px;
    min-width: 109px;
    max-width: 109px;
}
.baseBoard .callingAt{
    position: absolute;
    bottom: 5px;
    height: 25px;
    left: 75px;
    width : 510px;
    background-color: grey;
    z-index: 100;
    text-align: left;
    color:rgb(247, 167, 18);
    overflow: hidden;
}
.textContainer{
    position: absolute;
    bottom: 5px;
    height: 25px;
    left: 200px;
    width : 360px;
    z-index: 100;
    text-align: left;
    color:rgb(247, 167, 18);
    overflow: hidden;
}
.scrollingText {
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 12s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
.logoImage{
    text-align: center;
    padding: 50px;
}
.stationTitle{
    display: inline-block;
}
.brLogo{
    display: inline-block;
    left: 20%;
    top:60%;
}
.stationName{
    text-align: center;
    top: 5%;
    height: 20%;
}