<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Welcome to {{StationTitle}}</title>
    <div class="options">
        <form id="optionsForm" action = "http://localhost:5000/index" method="GET">
            <label for="back">Options:</label><br>
            <button class="stdButton" type="submit">Refresh</button>
            <button class="stdButton" type="submit">Back</button>
        </form>
    </div>
    <div class="board">
        {%for t in departures%}
        <div class="departure">
        Next train to depart is the {{t.getShedDeparture()}}to {{t.getDestination()}} calling at {{t.getCallingAt()}}  {{t.getEta()}} <br><br>
        </div>
        {%endfor%}
    </div>
    <style>
        .board{
            background-color: orange;
            border-color: brown;
        }
        .departure{
            border-color: brown;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    
</body>
</html>