<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='main.css') }}">
    <title>Welcome to {{StationTitle}}</title>
    <div class="options">
        <form id="optionsForm" action="{{ url_for('handle_options') }}" method="POST">
            <label for="back">Options:</label><br>
            <button class="stdButton" type="submit" value="refresh" name="opButton">Refresh</button>
            <button class="stdButton"  type="submit" value="back" name="opButton">Back</button>
        </form>
    </div>
    <div class="board">
        {%for t in departures%}
        <div class="departure">
        Next train to depart is the {{t.getShedDeparture()}} to {{t.getDestination()}}  {{t.getCallingAt()}}  {{t.getEta()}} <br><br>
        </div>
        {%endfor%}
    </div>
</head>
<body>
    
</body>
</html>