<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='main.css') }}">
    <title>Welcome to {{stationCode}}</title>
    <h1 class="stationTitle">{{stationTitle}}</h1>
    <div class="brLogo">
        <img src="static/BR_logo.png" alt="British Rail double arrow" >
    </div>
    <div class="options">
        <form id="optionsForm" action="{{ url_for('handle_options') }}" method="POST">
            <label for="back">Options:</label><br>
            <button class="stdButton" type="submit" value="refresh" name="opButton">Refresh</button>
            <button class="stdButton"  type="submit" value="back" name="opButton">Back</button>
        </form>
    </div>
    <h1>{{lengthArg}}</h1>
</head>
<body body onload="sendWindowSize()">
    <div class="board">
        {%for t in departures%}
            {%if t.getDestination() == "ErrorStationNotFound"%}
                <div class="error">Please enter a valid station name or station code</div>
            {%else%}
                <div class="baseBoard">
                    <div class="scheduledArrival">
                        {{t.getShedDeparture()}}
                    </div>
                    <div class="destination">
                        {{t.getDestination()}} 
                    </div>
                    <div class="platform">
                        {{t.getPlatform()}}
                    </div>
                    <div class="expected">
                        {{t.getEta()}}
                    </div>
                    {% if length(t.getCallingAt()) < lengthArg %}
                        <div class="callingAt">
                            Calling at: {{t.getCallingAt()}}
                        </div>
                    {% else%}
                        <div class="callingAt">
                            Calling at:
                        </div>
                        <div class="textContainer">
                            <div class="scrollingText">
                                {{t.getCallingAt()}}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {%endif%}
            </div>
        {%endfor%}
        <div class="logoImage">
            <img src="static\NRE_Powered_logo.png" alt="Powered by National Rail Enquiries" >
        </div>
        
    </div>
</body>
</html>