<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="selectorForm">
        <h1>Departure Board</h1>
        <form id="stationSelector" action = "http://localhost:5000/board" method = "POST">
        <label for="stationBox">Station:</label><br>
        <input type="text" id="stationBox" name="stationBox" value="KGX"><br>
        <button class="stdButton" type="submit">Search</button>
    </form>
    <div>
</body>
</html>